*{
padding: 0;
margin: 0;
background-color: black;
color:white;
font-family: Quattrocento, Ruda;
}
.wholebody{
    /* display: inline; */
   
    height:50px;
    width: auto;
    position: absolute;
    z-index: 3;
    
}
.margin{
    margin-left: 30px;
    margin-right: 30px;
}



.navbar{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: space-between; 
    /* align-content: space-around; */
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.navcenter{
    display: flex;
    align-content: space-around;
    gap: 32px;
}
.navright{
    padding-top: 2px;
    display: flex;
    gap: 20px;
}
/* ==================MAIN====================== */
.main{
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
    
}
.mainimg{
    position: relative;
    z-index: 2;
}

.maintext{
  
    position: absolute;
    color: white;
    z-index: 1;
    top: 150px;
    background-color: none;
    
    
}
.maintext h1{
    display: flex;
    width: 600px;
    justify-content: center;
    /* align-items: center; */
}
.mainlorem{
    display: flex;
    padding-top: 30px;
    width: 500px;
    justify-content: center;
    margin-left: 40px;
    justify-content: space-between;
    
}
/* ========================About us================== */

.aboutus{
    padding-top: 30px;
    /* align-items: center; */
    margin-left: 30px;
    margin-right: 30px;
}

.aboutustext{
    padding-top: 30px;
    align-content: center;
}
.aboutuscenter{
    display: flex;
}
/* =========================MENU==================== */
.cardcont{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1;
    justify-content: space-evenly;
}
.menutext{
    padding-top: 30px;
}
.card{
   
    margin: 3px;
    display: flex;
    justify-content: space-between;
   gap: 40;
width: 470px;

}
.cardtext{
    
    display: block;
    padding-left: 30px;
    align-content: space-between;

}
/* =============================FINDUS================ */
.findus{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.findusleft{
    padding-top: 30px;
    align-content: center;
    align-items: center;
      
}
.findusleft li{
    padding-left: 100px;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin-bottom: 20px;
    
}
.findusright{
    align-content: center;
    align-items: center;
    padding: 100px;
}
.items{
    display: grid;
   
    padding-bottom: 20px;
    align-content: space-around;
    


    
    
}
/* ===========================contact================= */
.contact{
    height: 262px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 98px;
    margin-right: 258px;
    
    
}
.contactright{
    display: inline-block;
    grid-template-columns: 1fr;
    gap: 150px;
    width: 500px;
  justify-content: space-between; 
   
}
.contactright li{
      
}

/* ===========================ID======================== */
#icon{
    padding-top: 40px;
    padding-left: 100px;
    align-items: center;
    align-content: center;
}
#maintt{
    font-size: 100px;
}
#mid{
    padding-top: 50px;
    padding-bottom: 15px;
    border-bottom:solid rgb(250, 11, 11);
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ul li{
    text-decoration: none;
    list-style: none;
}
